<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>630195665012-n1o47fdmq990gcho4qie5k8qqut1leu1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.630195665012-n1o47fdmq990gcho4qie5k8qqut1leu1</string>
	<key>API_KEY</key>
	<string>AIzaSyDSTIi9aJfKH46T1K-EdQ4LA6U5i8nct1o</string>
	<key>GCM_SENDER_ID</key>
	<string>630195665012</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.appss.flutterFormapp</string>
	<key>PROJECT_ID</key>
	<string>formsapp-8525e</string>
	<key>STORAGE_BUCKET</key>
	<string>formsapp-8525e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:630195665012:ios:077c9e3a4ccb53980c7921</string>
</dict>
</plist>